In [1]:
#1. print multiples of 3 upto 200 using a list
a=[]
for i in range(3,201,3):
    a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198]

In [2]:
#2. print the nos only divisable by 5 and 7 between 1000 and 2000 using a list( both inclusive)
a=[]
for i in range(1000,2001):
    if(i%5==0) and (i%7==0):
        a.append(i)
print(a)

[1015, 1050, 1085, 1120, 1155, 1190, 1225, 1260, 1295, 1330, 1365, 1400, 1435, 1470, 1505, 1540, 1575, 1610, 1645, 1680, 1715, 1750, 1785, 1820, 1855, 1890, 1925, 1960, 1995]

In [3]:
#3. Add the n number of names in a list and print them alphabetically and reverse alphabetically.
b=[]
n=int(input("ENTER range"))
for i in range(n):
    b.append(input(""))
b.sort()
print(b)
b.reverse()
print(b)

ENTER range4
1
2
3

['', '1', '2', '3']
['3', '2', '1', '']

In [4]:


#4. Print  perfect squares and divisible by 5 between 500 and 1000( (both inclusive) using list comprehension
import math
mul=[]
div=[]
mul=[i for i in range(500,1001) if i%5==0]
for i in mul:
    m=math.sqrt(i)
    if (m-math.floor(m)==0):
        div.append(i)
print(div)

[625, 900]

In [5]:
t=()
n=int(input("Enter range"))
for i in range(n):
  r=input()
  t=t+(r,)
print(t)

Enter range4
1
3
4
5
('1', '3', '4', '5')

In [6]:


t=list()
n=int(input("Enter range"))
for i in range(n):
    r=int(input("Enter rollno"))
    m=int(input(" Enter marks"))
    t.append((r,m))
t.sort(reverse=True)
print(t)

Enter range3
Enter rollno23
 Enter marks65
Enter rollno32
 Enter marks45
Enter rollno34
 Enter marks76
[(34, 76), (32, 45), (23, 65)]

In [7]:


t=list()
n=int(input("Enter range"))
for i in range(n):
    r=input("Enter name")
    nam=int(input(" Enter salary"))
    t.append((r,nam))
t.sort()
print(t)

Enter range2
Enter namedfg
 Enter salary23
Enter namedfs
 Enter salary34
[('dfg', 23), ('dfs', 34)]