In [ ]:
import pandas as pd
import numpy as np
#Coding for importing csv files in Google colab
from google.colab import files
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['loan.csv']))
print(df)

In [ ]:
df.describe()

In [ ]:
df['ApplicantIncome'].hist(bins=50)

In [ ]:
df.boxplot(column='ApplicantIncome')

In [ ]:
df.boxplot(column='ApplicantIncome', by = 'Education')

In [ ]:
df.boxplot(column='ApplicantIncome', by = 'Gender')

In [ ]:
df['LoanAmount'].hist(bins=50)

In [ ]:
df['Gender'].hist(bins=50)

In [ ]:
df.boxplot(column='LoanAmount')

In [ ]:
df.boxplot(column='LoanAmount', by = 'Gender')

In [ ]:
print ('Frequency Table for Credit History:')
temp1=df['Credit_History'].value_counts(ascending=True)
print(temp1)
print ('Frequency Table for Education:')
temp2=df['Education'].value_counts(ascending=True)
print(temp2)

In [ ]:
import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,4))
ax1 = fig.add_subplot(121)
ax1.set_xlabel('Credit_History')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Credit_History")
temp1.plot(kind='bar')

In [ ]:


import matplotlib.pyplot as plt
fig = plt.figure(figsize=(8,4))
#applicants by education
#applicants by credit history
ax1 = fig.add_subplot(121)
ax1.set_xlabel('Credit_History')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Credit_History")
temp1.plot(kind='bar')
print('')
ax2 = fig.add_subplot(122)
ax2.set_xlabel('Education')
ax1.set_ylabel('Count of Applicants')
ax1.set_title("Applicants by Education")
temp2.plot(kind='bar')

In [ ]:


df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
df['LoanAmount'].fillna(df['LoanAmount'].mean(), inplace=True)

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:


df['Self_Employed'].value_counts()

In [ ]:
df['Self_Employed'].fillna('No',inplace=True)

In [ ]:
df['Self_Employed'].value_counts()

In [ ]:
df['Dependents'].value_counts()

In [ ]:
df['Dependents'].fillna('0',inplace=True)

In [ ]:
df['Dependents'].value_counts()

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:


df['Gender'].value_counts()

In [ ]:
df['Gender'].fillna('Male',inplace=True)

In [ ]:
df['Gender'].value_counts()

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
df['Loan_Amount_Term'].value_counts()

In [ ]:
df['Loan_Amount_Term'].fillna(360.0,inplace=True)

In [ ]:


df['Loan_Amount_Term'].value_counts()

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:


df['Credit_History'].value_counts()

In [ ]:
df['Credit_History'].fillna(1.0,inplace=True)

In [ ]:
df.apply(lambda x: sum(x.isnull()),axis=0)

In [ ]:
df['LoanAmount'].hist(bins=10)

In [ ]:
df['LoanAmount_log'] = np.log(df['LoanAmount'])
df['LoanAmount_log'].hist(bins=20)

In [ ]:
df

In [ ]:
df.boxplot(column='ApplicantIncome', by = 'Married')