In [1]:
import pandas as pd
l=[]
for i in range(1,1001):
  if(i%2==0):
    l.append(i)
ds = pd.Series(l) 
print(ds)

0         2
1         4
2         6
3         8
4        10
       ...
495     992
496     994
497     996
498     998
499    1000
Length: 500, dtype: int64

In [2]:
import pandas as pd
l=[]
for i in range(1000,2001):
    l.append(i)
ds = pd.Series(l)
print("Pandas Series and type")
print(ds)
print(type(ds))
print("Convert Pandas Series to Python list")
print(ds.tolist())
print(type(ds.tolist()))

Pandas Series and type
0       1000
1       1001
2       1002
3       1003
4       1004
        ...
996     1996
997     1997
998     1998
999     1999
1000    2000
Length: 1001, dtype: int64
<class 'pandas.core.series.Series'>
Convert Pandas Series to Python list
[1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024, 1025, 1026, 1027, 1028, 1029, 1030, 1031, 1032, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1040, 1041, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1081, 1082, 1083, 1084, 1085, 1086, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1130, 1131, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1148, 1149, 1150, 1151, 1152, 1153, 1154, 1155, 1156, 1157, 1158, 1159, 1160, 1161, 1162, 1163, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1172, 1173, 1174, 1175, 1176, 1177, 1178, 1179, 1180, 1181, 1182, 1183, 1184, 1185, 1186, 1187, 1188, 1189, 1190, 1191, 1192, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1230, 1231, 1232, 1233, 1234, 1235, 1236, 1237, 1238, 1239, 1240, 1241, 1242, 1243, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1251, 1252, 1253, 1254, 1255, 1256, 1257, 1258, 1259, 1260, 1261, 1262, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1270, 1271, 1272, 1273, 1274, 1275, 1276, 1277, 1278, 1279, 1280, 1281, 1282, 1283, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1296, 1297, 1298, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1325, 1326, 1327, 1328, 1329, 1330, 1331, 1332, 1333, 1334, 1335, 1336, 1337, 1338, 1339, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1354, 1355, 1356, 1357, 1358, 1359, 1360, 1361, 1362, 1363, 1364, 1365, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1375, 1376, 1377, 1378, 1379, 1380, 1381, 1382, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1424, 1425, 1426, 1427, 1428, 1429, 1430, 1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1490, 1491, 1492, 1493, 1494, 1495, 1496, 1497, 1498, 1499, 1500, 1501, 1502, 1503, 1504, 1505, 1506, 1507, 1508, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1532, 1533, 1534, 1535, 1536, 1537, 1538, 1539, 1540, 1541, 1542, 1543, 1544, 1545, 1546, 1547, 1548, 1549, 1550, 1551, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1560, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1570, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1579, 1580, 1581, 1582, 1583, 1584, 1585, 1586, 1587, 1588, 1589, 1590, 1591, 1592, 1593, 1594, 1595, 1596, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1612, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1623, 1624, 1625, 1626, 1627, 1628, 1629, 1630, 1631, 1632, 1633, 1634, 1635, 1636, 1637, 1638, 1639, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1668, 1669, 1670, 1671, 1672, 1673, 1674, 1675, 1676, 1677, 1678, 1679, 1680, 1681, 1682, 1683, 1684, 1685, 1686, 1687, 1688, 1689, 1690, 1691, 1692, 1693, 1694, 1695, 1696, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1705, 1706, 1707, 1708, 1709, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1730, 1731, 1732, 1733, 1734, 1735, 1736, 1737, 1738, 1739, 1740, 1741, 1742, 1743, 1744, 1745, 1746, 1747, 1748, 1749, 1750, 1751, 1752, 1753, 1754, 1755, 1756, 1757, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1765, 1766, 1767, 1768, 1769, 1770, 1771, 1772, 1773, 1774, 1775, 1776, 1777, 1778, 1779, 1780, 1781, 1782, 1783, 1784, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1792, 1793, 1794, 1795, 1796, 1797, 1798, 1799, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1909, 1910, 1911, 1912, 1913, 1914, 1915, 1916, 1917, 1918, 1919, 1920, 1921, 1922, 1923, 1924, 1925, 1926, 1927, 1928, 1929, 1930, 1931, 1932, 1933, 1934, 1935, 1936, 1937, 1938, 1939, 1940, 1941, 1942, 1943, 1944, 1945, 1946, 1947, 1948, 1949, 1950, 1951, 1952, 1953, 1954, 1955, 1956, 1957, 1958, 1959, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000]
<class 'list'>

In [3]:
import pandas as pd
l=[]
m=[]
for i in range(1,101):
  if(i%2==0):
    l.append(i)
  else:
    m.append(i)
ds1 = pd.Series(l)
ds2 = pd.Series(m)
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0       3
1       7
2      11
3      15
4      19
5      23
6      27
7      31
8      35
9      39
10     43
11     47
12     51
13     55
14     59
15     63
16     67
17     71
18     75
19     79
20     83
21     87
22     91
23     95
24     99
25    103
26    107
27    111
28    115
29    119
30    123
31    127
32    131
33    135
34    139
35    143
36    147
37    151
38    155
39    159
40    163
41    167
42    171
43    175
44    179
45    183
46    187
47    191
48    195
49    199
dtype: int64
Subtract two Series:
0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     1
10    1
11    1
12    1
13    1
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    1
22    1
23    1
24    1
25    1
26    1
27    1
28    1
29    1
30    1
31    1
32    1
33    1
34    1
35    1
36    1
37    1
38    1
39    1
40    1
41    1
42    1
43    1
44    1
45    1
46    1
47    1
48    1
49    1
dtype: int64
Multiply two Series:
0        2
1       12
2       30
3       56
4       90
5      132
6      182
7      240
8      306
9      380
10     462
11     552
12     650
13     756
14     870
15     992
16    1122
17    1260
18    1406
19    1560
20    1722
21    1892
22    2070
23    2256
24    2450
25    2652
26    2862
27    3080
28    3306
29    3540
30    3782
31    4032
32    4290
33    4556
34    4830
35    5112
36    5402
37    5700
38    6006
39    6320
40    6642
41    6972
42    7310
43    7656
44    8010
45    8372
46    8742
47    9120
48    9506
49    9900
dtype: int64
Divide Series1 by Series2:
0     2.000000
1     1.333333
2     1.200000
3     1.142857
4     1.111111
5     1.090909
6     1.076923
7     1.066667
8     1.058824
9     1.052632
10    1.047619
11    1.043478
12    1.040000
13    1.037037
14    1.034483
15    1.032258
16    1.030303
17    1.028571
18    1.027027
19    1.025641
20    1.024390
21    1.023256
22    1.022222
23    1.021277
24    1.020408
25    1.019608
26    1.018868
27    1.018182
28    1.017544
29    1.016949
30    1.016393
31    1.015873
32    1.015385
33    1.014925
34    1.014493
35    1.014085
36    1.013699
37    1.013333
38    1.012987
39    1.012658
40    1.012346
41    1.012048
42    1.011765
43    1.011494
44    1.011236
45    1.010989
46    1.010753
47    1.010526
48    1.010309
49    1.010101
dtype: float64

In [4]:
import pandas as pd
l=[]
m=[]
for i in range(1,101):
  if(i%7==0):
    l.append(i)
  if(i%11==0):
    m.append(i)
le=len(l)-len(m)
for i in range(le):
  m.append(0)
ds1 = pd.Series(l)
ds2 = pd.Series(m)
print("Series1:")
print(ds1)
print("Series2:")
print(ds2)
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Series1:
0      7
1     14
2     21
3     28
4     35
5     42
6     49
7     56
8     63
9     70
10    77
11    84
12    91
13    98
dtype: int64
Series2:
0     11
1     22
2     33
3     44
4     55
5     66
6     77
7     88
8     99
9      0
10     0
11     0
12     0
13     0
dtype: int64
Compare the elements of the said Series:
Equals:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
dtype: bool
Greater than:
0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12     True
13     True
dtype: bool
Less than:
0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9     False
10    False
11    False
12    False
13    False
dtype: bool

In [5]:


import numpy as np
import pandas as pd
l=[]
for i in range(10,1001,10):
    l.append(i)
np_array = np.array(l)
print("NumPy array:")
print(np_array)
new_series = pd.Series(np_array)
print("Converted Pandas series:")
print(new_series)

NumPy array:
[  10   20   30   40   50   60   70   80   90  100  110  120  130  140
  150  160  170  180  190  200  210  220  230  240  250  260  270  280
  290  300  310  320  330  340  350  360  370  380  390  400  410  420
  430  440  450  460  470  480  490  500  510  520  530  540  550  560
  570  580  590  600  610  620  630  640  650  660  670  680  690  700
  710  720  730  740  750  760  770  780  790  800  810  820  830  840
  850  860  870  880  890  900  910  920  930  940  950  960  970  980
  990 1000]
Converted Pandas series:
0       10
1       20
2       30
3       40
4       50
      ...
95     960
96     970
97     980
98     990
99    1000
Length: 100, dtype: int64

In [6]:
import numpy as np
s1 = pd.Series(['100', '200', '300','400','500','python', '300.12', '400','is','great','language'])
print("Original Data Series:")
print(s1)
print("Series to an array")
a = np.array(s1.values.tolist())
print (a)

Original Data Series:
0          100
1          200
2          300
3          400
4          500
5       python
6       300.12
7          400
8           is
9        great
10    language
dtype: object
Series to an array
['100' '200' '300' '400' '500' 'python' '300.12' '400' 'is' 'great'
 'language']

In [7]:
import pandas as pd
s = pd.Series(['100', '200', '300','400','500','python', '300.12', '400','is','great','language'])
print("Original Data Series:")
print(s)
new_s = pd.Series(s).sort_values()
print(new_s)

Original Data Series:
0          100
1          200
2          300
3          400
4          500
5       python
6       300.12
7          400
8           is
9        great
10    language
dtype: object
0          100
1          200
2          300
6       300.12
3          400
7          400
4          500
9        great
8           is
10    language
5       python
dtype: object

In [8]:


import pandas as pd
l=[]
for i in range(10,1001,10):
    l.append(i)
s = pd.Series(l)
print("Original Data Series:")
print(s)
print("\nSubset of the above Data Series:")
new_s = s[s%7==0]
print(new_s)
new = s[s%5==0]
print(new)

Original Data Series:
0       10
1       20
2       30
3       40
4       50
      ...
95     960
96     970
97     980
98     990
99    1000
Length: 100, dtype: int64

Subset of the above Data Series:
6      70
13    140
20    210
27    280
34    350
41    420
48    490
55    560
62    630
69    700
76    770
83    840
90    910
97    980
dtype: int64
0       10
1       20
2       30
3       40
4       50
      ...
95     960
96     970
97     980
98     990
99    1000
Length: 100, dtype: int64

In [9]:
#Write a Pandas program to create the mean and standard deviation, maximum and minimum of the data of a given Series.
import pandas as pd
l=[]
f=0
for j in range(2,1001):
  f=0
  for i in range(2,j):
    if (j % i) == 0:
      f=1
      break
  if(f==0):
      l.append(j)
print(l)
s = pd.Series(l)
print("Original Data Series:")
print(s)
print("Mean of the said Data Series:")
print(s.mean())
print("Standard deviation of the said Data Series:")
print(s.std())
print(s.max())
print(s.min())

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499, 503, 509, 521, 523, 541, 547, 557, 563, 569, 571, 577, 587, 593, 599, 601, 607, 613, 617, 619, 631, 641, 643, 647, 653, 659, 661, 673, 677, 683, 691, 701, 709, 719, 727, 733, 739, 743, 751, 757, 761, 769, 773, 787, 797, 809, 811, 821, 823, 827, 829, 839, 853, 857, 859, 863, 877, 881, 883, 887, 907, 911, 919, 929, 937, 941, 947, 953, 967, 971, 977, 983, 991, 997]
Original Data Series:
0        2
1        3
2        5
3        7
4       11
      ...
163    971
164    977
165    983
166    991
167    997
Length: 168, dtype: int64
Mean of the said Data Series:
453.13690476190476
Standard deviation of the said Data Series:
298.19241719366255
997
2

In [10]:


import pandas as pd
x=[]
y=[]
z=[]
for i in range(1,1001):
  if(i%2==0):
    if(i%5!=0):
      y.append(i)
  else:
    if(i%7!=0):
      x.append(i)
    if(i%3!=0):
      z.append(i)
le=len(x)-len(y)
lf=len(x)-len(z)
for i in range(le):
  y.append(0)
for i in range(lf):
  z.append(0)
df = pd.DataFrame({'X':x, 'Y':y,'Z':z});
print(df)

       X   Y   Z
0      1   2   1
1      3   4   5
2      5   6   7
3      9   8  11
4     11  12  13
..   ...  ..  ..
424  991   0   0
425  993   0   0
426  995   0   0
427  997   0   0
428  999   0   0

[429 rows x 3 columns]

In [11]:
import pandas as pd
x=[]
y=[]
z=[]
for i in range(1,1001):
  if(i%2==0):
    if(i%5!=0):
      y.append(i)
  else:
    if(i%7!=0):
      x.append(i)
    if(i%3!=0):
      z.append(i)
le=len(x)-len(y)
lf=len(x)-len(z)
for i in range(le):
  y.append(0)
for i in range(lf):
  z.append(0)
df = pd.DataFrame({'X':x, 'Y':y,'Z':z});
result = df.head(10)
print("First 10 rows of the DataFrame:")
print(result)

First 10 rows of the DataFrame:
    X   Y   Z
0   1   2   1
1   3   4   5
2   5   6   7
3   9   8  11
4  11  12  13
5  13  14  17
6  15  16  19
7  17  18  23
8  19  22  25
9  23  24  29

In [ ]:


import pandas as pd
import io
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['movie_metadata.csv']))
s1 = df.iloc[6][0]
s2 = df.iloc[6][1]
s3 = df.iloc[6][2]
print("Details of the third moviee:")
print(third_movie)

In [ ]:


import pandas as pd
import io
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['movie_metadata.csv']))
small_df = df[['num_user_for_reviews','language','country','content_rating','budget','title_year']]
result = small_df.sort_values('title_year')
print("DataFrame based on title year.")
print(result)

In [ ]:
import pandas as pd
import io
from google.colab import files
uploaded=files.upload()
df = pd.read_csv(io.BytesIO(uploaded['movie_metadata.csv']))
small_df = df[['num_user_for_reviews','language','country','content_rating','budget','title_year']]
result = small_df.sort_values(by=['country', 'language'])
print("DataFrame based on title year.")
print(result)

In [15]:
import numpy as np
x = np.random.random((4,4))
print("Original Array:")
print(x) 
xmin, xmax = x.min(), x.max()
print("Minimum and Maximum Values:")
print(xmin, xmax)

Original Array:
[[0.69191517 0.68501356 0.13923663 0.48904327]
 [0.87569417 0.43956108 0.18138385 0.52056381]
 [0.45961911 0.262873   0.24885766 0.70471183]
 [0.237365   0.06222816 0.48233068 0.40765807]]
Minimum and Maximum Values:
0.06222815794408709 0.8756941663659276

In [16]:


import numpy as np
x = np.random.random((10,10))
print("Original Array:")
print(x) 
xmin, xmax = x.min(), x.max()
print("Minimum and Maximum Values:")
print(xmin, xmax)

Original Array:
[[6.18964840e-01 3.21425751e-01 9.11062434e-01 8.65865564e-01
  4.15274905e-01 6.27306334e-01 7.92388654e-01 6.80169232e-01
  6.70191717e-01 1.94727014e-01]
 [9.25125385e-04 2.08357253e-01 9.31102882e-02 2.06529053e-01
  3.09844692e-01 4.22544039e-01 5.52039674e-01 8.41766548e-03
  5.35787587e-01 8.20492632e-01]
 [4.75822108e-01 2.65449477e-01 7.23291999e-01 4.29891970e-01
  3.93968527e-01 2.10263333e-01 7.82649536e-02 9.69858973e-01
  4.02400410e-01 1.03146139e-01]
 [2.95208399e-01 4.30186315e-01 5.17383001e-01 6.60083759e-01
  3.25620698e-01 7.83377688e-01 1.01467135e-01 1.77279725e-01
  5.05234049e-02 3.71600719e-01]
 [1.61569330e-01 2.72010819e-01 9.25639796e-01 2.17354538e-01
  7.84782893e-01 3.09914524e-01 4.77735683e-01 8.13306689e-01
  8.06081942e-01 1.39211815e-01]
 [5.29808792e-01 4.74979067e-01 7.21426149e-01 6.79787070e-03
  3.54911814e-01 1.94726852e-01 8.48837569e-02 3.04959162e-01
  2.18077677e-01 8.64086653e-01]
 [9.94559835e-01 9.98793337e-01 5.73820319e-01 6.07953112e-01
  2.73150289e-01 4.54780554e-01 6.37022603e-01 2.98691564e-02
  3.79524038e-01 4.99486507e-01]
 [9.16349612e-02 9.96688818e-01 6.74059591e-02 4.12682493e-01
  7.79340053e-01 2.40564805e-01 3.97849631e-01 8.22203914e-01
  4.44523790e-01 1.16646598e-01]
 [5.42553226e-01 5.50721729e-01 7.84438627e-01 7.24059667e-01
  8.08682237e-01 8.75872876e-01 3.10812104e-01 3.25935258e-01
  6.94393758e-01 5.44935593e-01]
 [1.36317775e-01 7.47205975e-01 2.20090793e-01 1.97390164e-01
  6.68037457e-01 1.29142369e-01 4.11568631e-01 5.29058907e-02
  8.64246998e-03 2.51669510e-01]]
Minimum and Maximum Values:
0.0009251253849611452 0.9987933367948658

In [17]:
import numpy as np
x = np.random.randint(low=100, high=300, size=8)
print(x)

[102 161 141 105 263 186 173 175]

In [18]:
import numpy as np
x=np.arange(20)
np.random.shuffle(x)
print(x)
x.sort()
print(x)

[ 2 13  3 18  4  0 11  7 12 19 15  5  6  8 17 16 14  9  1 10]
[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]