In [2]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    roll= int(input("Enter roll number"))
    mark=int(input("Enter mark %d"%(i)))
    d[roll]=mark
c={}
c=sorted(d.items(),reverse=True)
print(c)

Enter no of records1
Enter roll number12
Enter mark 123
[(12, 23)]

In [3]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter sal %d"%(i)))
    d[name]=salary
c={} 
c=sorted(d.items())
print(c)

Enter no of records1
Enter name 1dsf
Enter sal 123
[('dsf', 23)]

In [4]:
import operator
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter sal %d"%(i)))
    d[name]=salary
c={} 
c=sorted(d.items(),key=operator.itemgetter(1))
print("sum is ",sum(d.values()))
print("min is",min(d.values()))
print("max is",max(d.values()))
print("average is",sum(d.values())/n)

print(c)

Enter no of records1
Enter name 1sd
Enter sal 1234
sum is  234
min is 234
max is 234
average is 234.0
[('sd', 234)]

In [5]:
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    salary=int(input("Enter sal %d"%(i)))
    d[name]=salary
for name in d: 
    if d[name]>2000 and d[name]<4000:
        print(name,d[name])

Enter no of records1
Enter name 1sdf
Enter sal 112

In [6]:
d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine', 10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen', 17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty', 60:'sixty',70:'seventy',80:'eighty',90:'ninty',100:'hundred',200:'two hundred',300:'three hundred',400:'four hundred',500:'five hundred',600:'six hundred',700:'seven hundred',800:'eight hundred',900:'nine hundred'}

num=int(input("Enter the integer between 1 to 1000:"))
if(num<=20): 
    print(d[num]) 
if(num>20 and num<100): 
    if num%10==0:
        print(d[num]) 
    else: 
        print(d[num//10*10]+" "+d[num%10]) 
if(num>100 and num<1000): 
    if(num%100==0): 
        print(d[num]) 
    else: 
        print(d[num//100*100]+" "+d[(num//10*10)%100]+" "+d[num%10])

Enter the integer between 1 to 1000:2
two

In [ ]:
#1) Python Program to count the total number of charaters (except blank space) in a text file.
from google.colab import drive
drive.mount('/content/drive')
#fname = input("Enter file name: ")
fname = 'drive/My Drive/doc.txt'
count=0
k=0
c,l=0,0
with open(fname, 'r') as f:
    for line in f:
        l=l+1
        for i in line:
            count=count+1
            if(i==" "):
                k=k+1
    c=count-k-(l-1)
    print("Number of characters:")
    print(c)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
fname = 'drive/My Drive/doc.txt'
fname1 = 'drive/My Drive/doc1.txt'
with open(fname) as f:
    with open(fname1, "a") as f1:
        for line in f:
            f1.write(line)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
fname = 'drive/My Drive/doc.txt'
fname1 = 'drive/My Drive/doc1.txt'
with open(fname) as f:
    with open(fname1, "a") as f1:
        for line in f:
            f1.write(line)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
fname = 'drive/My Drive/doc.txt'
fname = input("Enter file name: ")

k=0

with open(fname, 'r') as f:
    for line in f:
        for i in line:
            
            if(i==" "):
                k=k+1
    print("Number of characters:")
    print(k)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
fname = 'drive/My Drive/text1.txt'
k=0
with open(fname, 'w+') as f:
    for line in f:
        line.title()
        f.write(line)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
fname = 'drive/My Drive/text1.txt'
count=0
k=0
with open(fname, 'r') as f:
    for line in f:
        for i in line:
            if(i=='0' or i=='1' or i=='2' or i=='3' or i=='4' or i=='5' or i=='6' or i=='7' or i=='8' or i=='9'):
                k=k+1
    print("Numbers")
    print(k)