In [ ]:


import pandas as pd
import numpy as np
from google.colab import files
import io
uploaded = files.upload()
df = pd.read_csv(io.BytesIO(uploaded['property_data1.csv']))
print(df)

In [ ]:


print (df['ST_NUM'])
print (df['ST_NUM'].isnull())
print(df['NUM_ROOMS'])
print(df['NUM_ROOMS'].isnull())

In [ ]:
missing_values = ["n/a", "na", "--"]
print(df['NUM_ROOMS'].isnull())
print(df['NUM_ROOMS'])

In [ ]:
cnt=0
for row in df['NUM_ROOMS']:
  try:
    int(row)
  except ValueError:
    df.loc[cnt, 'NUM_ROOMS']=np.nan
  cnt+=1
print(df['NUM_ROOMS'])
print(df['NUM_ROOMS'].isnull())

In [ ]:
cnt=0
for row in df['OWN_OCCUPIED']:
  try:
    int(row)
    df.loc[cnt, 'OWN_OCCUPIED']=np.nan
  except ValueError:
    pass
  cnt+=1
print(df['OWN_OCCUPIED'])
print(df['OWN_OCCUPIED'].isnull())

In [ ]:
# Total missing values for each feature
print(df.isnull().sum())
print(sum(df.isnull().sum()))
print('Total missing values')

In [ ]:


print(df['ST_NUM'].isnull().sum())
print(df['ST_NAME'].isnull().sum())
print(df['NUM_ROOMS'].isnull().sum())
print(df['OWN_OCCUPIED'].isnull().sum())
print(df.isnull().sum().sum())

In [ ]:


df.shape
print(df['ST_NUM'].isnull().sum()/9.0)
print(df['ST_NAME'].isnull().sum()/9.0)
print(df['NUM_ROOMS'].isnull().sum()/9.0)
print(df['OWN_OCCUPIED'].isnull().sum()/9.0)

In [ ]:
df['ST_NUM'].fillna(125, inplace=True)

In [ ]:
median=df['NUM_ROOMS'].median()
df['NUM_ROOMS'].fillna(median,inplace=True)
print(df['NUM_ROOMS'])

In [ ]:
df['OWN_OCCUPIED'].value_counts().idxmax()

In [ ]:
df['OWN_OCCUPIED'].value_counts()

In [ ]:
df['ST_NUM'].fillna(125)

In [ ]:
df['OWN_OCCUPIED'].fillna('N',inplace=True)

In [ ]:
df